* {
  padding: 0;
  margin: 0;
}
.wrapper {
  margin: 100px auto;
  position: relative;
  width: 1480px;
  height: 520px;

  .canvas {
    display: block;
    background: #eee;
    background: url('../img/bg1.png') center no-repeat;
      background-size: 100% 100%;
    &__form {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 1480px;
      height: 520px;
      background: #000;
      
      p{
        margin-top: 30px;
        color: #fff;
      }
    }
    &__score {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 1480px;
      height: 520px;
      background: #000;
      color: #fff;
      &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}
.canvas__form.active {
  display: flex;
}

.canvas__score.active {
  display: flex;
}